body{
  background-attachment: fixed;
  background-image: url(/img/bg.jpg);
}

h1{
  font-size: 60px;
  color: azure;
}
table{
  text-align: center;
  width: auto;
  margin: 0 auto;
}
tr{
  padding: 5px 10px;
}
th, td{
  padding: 10px 15px;
}
iframe{
  display: block;
  margin: auto;
}
a:hover{
  text-decoration: none;
}
.bg-primary{
  background-color: #003049!important;
}
.border.pg1{
  border-radius: 30px!important;
}

#pgs{
  border-radius: 30px!important;
  background-color: #d62828!important;
}
#pgp{
  border-radius: 30px!important;
  background-color: #023e8a!important;
}
#pgx{
  border-radius: 30px!important;
  background-color: #2b9348!important;
}
.centrar{
  display: block;
  margin: auto;
}

.centrar-texto{
  text-align: center;
}
.hi{
  background:black;
  padding: 20px 0px;
  margin-bottom: 0;
}
.hi2{
  background:black;
  padding: 0px 0px;
  margin-bottom: 0;
}
.margin0{
  margin-top: 0;
}
#menu{
  margin-top: 0;
  background:linear-gradient(to right, red 33%, blue 33%, blue 66%, green 66%, green 100%);
}
#logo1{
  width: 50%;
  align-content: table-cell;
  vertical-align: middle;
}
#logo2{
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}
#logo3{
  width: 45%;
  display: table-cell;
  vertical-align: middle;
}
label, input{
  width: 100%;
}
#button{
  width: 100px;
  margin-top: 10px;
}
.cbg{
  margin-top: 0;
  width: 100%;
}
#img1{
  width: 35%;
}
#img2{
  width: 38%;
  margin-right: 15px;
}
@media(min-width: 0px){
  #logo2{
    margin-top: 15px;
  }
  #logo3{
    margin-top: 8px;
  }
}
@media(min-width: 768px){
  #logo2{
    margin-top: 24px;
  }
  #logo3{
    margin-top: 14px;
  }
}
@media(min-width: 992px){
  #logo2{
    margin-top: 32px;
  }
  #logo3{
    margin-top: 20px;
  }
}
@media(min-width: 1200px){
  #logo2{
    margin-top: 50px;
  }
  #logo3{
    margin-top: 30px;
  }
}